.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 20px;
  text-align: center;
}

.hero-content {
  max-width: 700px;
}

.hero h1 {
  font-size: 52px;
  line-height: 1.2;
  font-weight: 600;
}

.hero h1 span {
  background: linear-gradient(90deg, #6366f1, #ec4899);
  -webkit-background-clip: text;
  color: transparent;
}

.hero p {
  margin-top: 15px;
  color: #cbd5f5;
  font-size: 16px;
}

/* SEARCH BOX */
.search-box {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.search-box input {
  padding: 14px;
  border-radius: 10px;
  border: none;
  width: 220px;
  background: rgba(255,255,255,0.1);
  color: white;
}

.search-box button {
  padding: 14px 20px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(45deg, #6366f1, #ec4899);
  color: white;
  cursor: pointer;
}



.primary {
  padding: 12px 22px;
  border-radius: 8px;
  border: none;
  background: #6366f1;
  color: white;
  cursor: pointer;
}

.secondary {
  padding: 12px 22px;
  border-radius: 8px;
  border: 1px solid #6366f1;
  background: transparent;
  color: #6366f1;
  cursor: pointer;
}